**/bin/**
**/obj/**

*.log
*.map
*.user
*.vs

/out/**
Builds/
*.svd
*.userprefs
*.pidb
*.suo
*.user
.vsconfig

# Windows rubbish
Thumbs.db
ehthumbs.db
desktop.ini
/src/ProgramableNetwork/packages
/src/ExampleMod.Unity/AssetBundles/AssetBundles
/src/ExampleMod.Unity/AssetBundles/AssetBundles.manifest
/src/ExampleMod.Unity/AssetBundles/mafi_bundles.manifest
/src/CustomRecipes/packages
