{
    "id": "{{ID}}",
    "version": "0.0.1",
    "display_name": "{{DISPLAY_NAME}}",
    "description_short": "{{DESCRIPTION}}",
    "description_long": "{{DESCRIPTION}}",
    "authors": [ "{{AUTHOR}}" ],
    "min_game_version": "0.8.1b",
    "max_verified_game_version": "0.8.1b",
    "primary_dlls": [ "{{ID}}.dll" ],
    "mod_dependencies": [ "CustomAssets>=0.1.8" ],
    "optional_mod_dependencies": [],
    "incompatible_mods": [],
    "non_locking_dll_load": true,
    "can_add_to_saved_game": true,
    "can_remove_from_saved_game": true
}
