{
    "$schema": "../config.schema.json",
    "example_bool": {
        "default": true,
        "description": "Enable an example feature."
    },
    "example_amount": {
        "default": 100,
        "is_integer": true,
        "min": 0,
        "max": 1000,
        "description": "Example integer amount."
    }
}
